@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto+Condensed&family=The+Nautigal:wght@700&family=Yellowtail&display=swap");

.App {
  height: 100vh;
}
.logo {
  max-width: 60px;
}
.signuppage,
.loginpage,
.forgotpage,
.resetpage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/authbrand.jpg");
  background-size: cover;
  justify-content: space-evenly;
  text-align: center;
}
.formcontainer {
  background: rgba(240, 242, 247, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 320px;
  border-radius: 15px;
  padding: 10px;
}
.pizzas-list {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.img-container {
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-list {
  background-color: beige;
  padding: 10px;
}
.cart-page {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  justify-content: space-around;
}
.total {
  min-height: 500px;
  height: 100%;
  bottom: whitesmoke;
}
.pageContainer {
  background-color: #eeeeee;
  padding-bottom: 96px;
  min-height: 70%;
  min-height: -webkit-calc(100% - 186px);
  min-height: -moz-calc(100% - 186px);
  min-height: calc(100% - 186px);
}
.hero {
  width: 50%;
  margin: 0px auto;
  padding: 25px;
  line-height: 60px;
}
.paragraph {
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
  color: gray;
}
.stat {
  padding: 8px;
}
.cartpage {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
@media (max-width: 420px) {
  .signuppage {
    height: 100%;
  }
  .formcontainer {
    padding: 2px;
  }
}
